coloredlogs
flatbuffers
numpy<2
packaging
protobuf>=5.28.2
sympy
pytest
onnx
transformers
huggingface_hub[cli]
onnxruntime-genai
sentencepiece
pandas
datasets
torch
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability